.banner {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 200px 0;
}

.banner p {
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 50px;
}
